/* Makes the page fit with no scroll bar, oh my god */
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d6ab34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Page-wide changes */
:root {
  --toolbarclick: #5880ee;
  --toolbaractive: #25497e;
  --toolbardark: #080a18;
  --toolbarlight: #0d101a;
  --toolbarhover: #191e36;
  --background: #d2d7e6;
  --textlight: #d2d7e6;
  --textdark: #23232b;
  --textmedium: #8e94b8;
}

.superscript {
  vertical-align: top;
  font-size: 50%;
}

.bodytext {
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 60px;
}

/* On screens that are 768px or less, the left column turns into a thin bar and the right column becomes full width and the header shrinks */
@media screen and (max-width: 768px) {
  .bodytext {
    padding-top: 0px;
  }
}

.gutterfix {
  --bs-gutter-x: 0;
}




/* MAIN PAGE FRAME */
/* Style the page header container */
.pageheader {
  background-image:url(starfield.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-attachment:scroll;
  overflow: hidden;
  background-color: var(--toolbardark);
  padding-top: 2vh;
}

/* Style the page header text */
.headertext {
  font-size: 7vmin;
  font-family: 'Great Vibes', sans-serif;
  color: var(--textlight);
  padding-right: 35vw;
}

/* Style the faded starfield image under the navbar */
.starfieldfade {
  height: auto;
  width:auto;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  overflow: hidden;
  right: 0;
}

/* Style the top navigation bar */
.topnav {
  text-align: left;
  overflow: hidden;
  background-color: #191e3680;
}

/* Style the active page topnav link */
.navactivepage {
  float: left;
  display: block;
  text-align: center;
  width: min-content;
  padding: 14px 16px;
  text-decoration: none;
  background-color: var(--toolbaractive);
  color: var(--textlight);
  cursor: default;
  transition: background-color 1s;
}

/* Style the inactive topnav links */
.navinactivepage {
  float: left;
  display: block;
  color: var(--textmedium);
  text-align: center;
  width: fit-content;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 1s;
}

/* Change topnav link color on hover */
.navinactivepage:hover {
  background-color: var(--toolbarhover);
  color: var(--textlight);
  transition: background-color 0s;
}

/* Change topnav link color on click and fade into active */
.navinactivepage:active {
  background-color: var(--toolbarclick);
  transition: background-color 0s;
}

/* Create two unequal columns that float next to each other */
/* Left column */
.leftcolumn {
  height: auto;
  background-color: var(--toolbardark);
  /* background-image:url(tevdrenmusicfade.png);
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll; */
  overflow: hidden;
}

/* Right column */
.rightcolumn {
  height: auto;
  overflow-x: auto;
  background-color: var(--background);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the page footer */
.pagefooter {
  background-color: var(--toolbarlight);
  color: var(--textlight);
}

/* On screens that are 768px or less, the left column turns into a thin bar and the right column becomes full width and the header shrinks */
@media screen and (max-width: 768px) {
  .leftcolumn {
    height: 15vh;
    /* background-position: 100% 23%; */
    width: 100%;
  }
  .rightcolumn {
    width: 100%;
    min-height: 50vh;
  }
}

/* Style the seasonal images */
.springimg {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .springimg {
    object-position: 0 -45vw;
  }
}
.summerimg {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .summerimg {
    object-position: 0 -50vw;
  }
}
.fallimg {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .fallimg {
    object-position: 0 -45vw;
  }
}
.winterimg {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .winterimg {
    object-position: 0 -45vw;
  }
}





/* ART NAV */
/* Style the art navigation bar */
.artnav {
  display: flex;
  flex-direction: column;
  background-color: #080a1880;
  overflow: hidden;
  width: 100%;
  padding-top: 40px;
}

/* Style the active page artnav link */
.artnavactivepage {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: var(--toolbaractive);
  color: var(--textlight);
  cursor: default;
  width: 100%;
  transition: background-color 1s;
}

/* Style the inactive artnav links */
.artnavinactivepage {
  float: left;
  display: block;
  color: var(--textmedium);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  transition: background-color 1s;
}

/* Change artnav link color on hover */
.artnavinactivepage:hover {
  background-color: var(--toolbarhover);
  color: var(--textlight);
  transition: background-color 0s;
}

/* Change artnav link color on click and fade into active */
.artnavinactivepage:active {
  background-color: var(--toolbarclick);
  transition: background-color 0s;
}

/* Center the art navbar */
.artnavcenter {
  width: 100%;
  background-color: var(--toolbardark);
  z-index: 3;
  min-height: 76vh;
}

.artrightcolumn {
  display: block;
  background-color: var(--background);
  /* height: 65vh; */
}

/* Style the faded starfield image under the navbar ART SPECIFIC */
.starfieldfadeart {
  height: auto;
  width: auto;
  position: absolute;
  right: 0;
  z-index: -1;
}

/* On screens that are 768px or less, the art navbar shrinks and becomes horizontal */
@media screen and (max-width: 768px) {
  .artnav {
    flex-direction: row;  
    height: min-content;
    padding-top: 10px;
    background-color: #080a1880;
  }
  .artrightcolumn {
    display: flex;
    /* min-height: 69vh; this will have to be adjusted if the navbar changes height? */
  }
  .starfieldfadeart {
    z-index: -1;
  }
  .artnavcenter {
    min-height: auto;
  }
}

/* On small landscape screens, shrinks the header and navbar
@media screen and (orientation: landscape) and (width: 992px) {
  .artnav {
    font-size: 75%;
    flex-direction: row;
    height: min-content;
  }
  .artrightcolumn {
    display: flex;
  }
} */





/* PRINTS AND ILLUSTRATIONS */
/* Styles the gallery */
.artimgrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Equally sized four-wide art columns */
.artimgcolumn {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Equally sized two-wide art columns */
.artimgcolumn2 {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

/* Unevenly sized two-wide art column--vertical */
.artimgcolumn3 {
  flex: 40%;
  max-width: 40%;
  padding: 0 4px;
}

/* Unevenly sized two-wide art column--horizontal */
.artimgcolumn4 {
  flex: 60%;
  max-width: 60%;
  padding: 0 4px;
}

/* Styles all static images */
.artimg {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

/* Styles flippable images */
.artimgflip {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

/* Flips images when they're hovered over */
.artimgflip:hover {
  transform: rotate(180deg);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 992px) {
  .artimgcolumn {
    flex: 50%;
    max-width: 50%;
  }
  .artimgcolumn2 {
    flex: 50%;
    max-width: 50%;
  }
  .artimgcolumn3 {
    flex: 50%;
    max-width: 50%;
  }
  .artimgcolumn4 {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 768px) {
  .artimgcolumn {
    flex: 100%;
    max-width: 100%;
  }
  .artimgcolumn2 {
    flex: 100%;
    max-width: 100%;
  }
  .artimgcolumn3 {
    flex: 100%;
    max-width: 100%;
  }
  .artimgcolumn4 {
    flex: 100%;
    max-width: 100%;
  }
}

/* Style the flexible column version of the gallery, per css-tricks */
.flexbox {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.flex-container {
  height: 40vh;
  flex-grow: 1;
}
.flex-image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  cursor: pointer;
}
.flex-container li:last-child {
  flex-grow: 10;
}
@media (max-aspect-ratio: 1/1) {
  .flex-container {
    height: 30vh;
  }
}
@media (max-height: 480px) {
  .flex-container {
    height: 80vh;
  }
}
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .flexbox {
    flex-direction: row;
  }
  .flex-container {
    height: auto;
    width: 100%;
  }
  .flex-image {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

/* Style the art popup setting */
.modal {
  display: flex;
  position: fixed;
  background-color: rgba(0,0,0,0.9);
  margin: auto;
}

/* Style the art popup content */
.modalcontent {
  margin: auto;
  animation-name: zoom;
  animation-duration: 0.4s;
  height: 100%;
  width: 100%;
  object-fit: contain;
  touch-action: auto;
}

/* Zoom in on art popup */
@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}




/* TEV DREN GALLERY */
/* Styles the header image */
.tevdrenartheader {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  max-width: 700px;
}

/* Flips header image when it's hovered over */
/* .tevdrenartheader:hover {
  transform: rotate(180deg);
} */

/* Styles the full body images, these will probably be deleted later and replaced with cleaner profile images  */
.tevdrenartbody {
  flex: 60%;
  max-width: 60%;
  padding: 0 4px;
  max-height: 500px;
  cursor: pointer;
}

/* Style the design details collapse button */
.design-details-button {
  width: 100%;
  background-color: var(--toolbarhover);
  color: var(--textlight)
}

/* Style the comic card thumbnail */
.comic-thumbnail img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 0%;
}

/* Style the comic card text */
.comic-cards a {
  text-decoration: none !important;
  color: var(--textdark);
}

/* Style the comic cards and hover effect */
.comic-thumbnail {
  background-color: white;
  transition: 0.2s;
}
.comic-thumbnail:hover {
  background-color: var(--textmedium);
  transition: 0.2s;
}







/* CATS CAROUSEL */
/* Sizes and centers the cats carousel */
.catscarousel {
  margin: auto;
  max-width: 700px;
  height: auto;
  padding-top: 40px;
}

/* Adds a shadow behind cats carousel captions */
.carousel-caption {
  text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 10px black, 0px 0px 15px black, 0px 0px 20px black;
}

/* On screens that are 768px or less, the carousel moves up to account for stacked columns */
@media screen and (max-width: 768px) {
  .catscarousel {
    padding-top: 0px;
  }
}